
examples/comp_data/singlevar_results_PE/M0f21_p_mode_shape.pdf
examples/comp_data/singlevar_results_PE/M0f5_p_mode_shape.pdf
examples/comp_data/singlevar_results_PE/ori_p_anim.gif
examples/comp_data/singlevar_results_PE/rec_p_anim.gif
examples/comp_data/singlevar_results_PE/rec_p_anim_L0f21.gif
examples/comp_data/singlevar_results_PE/rec_p_anim_L0f5.gif
examples/comp_data/singlevar_results_PE/Spectrum.pdf
examples/comp_data/singlevar_results_PE/t0_p.pdf
examples/comp_data/singlevar_results_PE/t10_p.pdf
